@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,300..700;0,300..700&family=Roboto+Mono:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: 'Ninja Naruto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Ninja Naruto Regular'), url('/ninja-naruto.regular.woff') format('woff');
}
html, body {
  background-color: #0a0c10;
  color: #f1f5f9;
}

* {
  font-family: 'Inter';
}
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;